body, html{
    padding: 0px;
    margin: 0px;
    height: 100%;
    background-color: #E1E1CE;
}

.page {
    display: flex;
    height: 100%;
}
.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu_item {
    font-size:13vh;
    transition: font-size 0.14s,opacity 0.14s;
    text-decoration: none;
    color: #443850;
}

.menu_item:hover {
    font-size:17vh;
    cursor: pointer;
    opacity: 20%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
}

.circle {
    height: 200px;
    width: 200px;
    background-color: #2e2a32;
    border-radius: 50%;
    transition: height 0.4s, width 0.4s,opacity 0.4s;
    transition-timing-function: linear;
}

.minicircle {
    height: 20px;
    width: 20px;
    background-color: #2e2a32;
    border-radius: 50%;
    transition: height 0.4s, width 0.4s,opacity 0.4s;
    transition-timing-function: linear;
}
a {
    text-decoration: none;
}

h2 {
    text-decoration: none;
    color: #443850;
}
.minicircle:hover {
    height: 170px;
    width: 170px;
    cursor: pointer;
    opacity: 80%;
}

.circle:hover {
    height: 170px;
    width: 170px;
    cursor: pointer;
    opacity: 80%
}
