body,html {
    background-color: #cfcece;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 70px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    color: rgb(4, 4, 4);
}

.dot {
    color: #9a9a9a;
    display: flex;
    height: 100px;
    width: 100px;
    background-color: #FFFF;
    border-radius: 50%;
    display: inline-block;
    transition: height 0.5s, width 0.5s, opacity 0.5s, font-size 0.5s;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dot:hover {
    width: 70px;
    height: 70px;
    opacity: 70%;
    cursor: pointer;
}

.dot:active {
    opacity: 30%;
}

.char1 {
    transform: rotate(-10deg);
}
.char2 {
    transform: rotate(90deg);
}
.char3 {
    transform: rotate(160deg);
}
.char4 {
    transform: rotate(20deg);
}
.char5 {
    transform: rotate(-40deg);
}
